@{ Layout = null; }
<!doctype html>
<html lang="es" class="scroller">
<head>
<meta charset="UTF-8">
<title>Bienvenidos a la promo "TopLine Lollapalooza 2023"</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
<link href="~/css/estilos.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<script type="text/javascript" src="~/scripts/html5shiv.min.js"></script>
<script type="text/javascript" src="~/scripts/respond.min.js"></script>
<![endif] -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.plugins.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.js"></script>
</head>
<body id="int" class="con">
	<header>
    <h1><a href="~/">Promo "TopLine Lollapalooza 2023"</a></h1>
  	<a href="javascript;" class="menu-open">Men&uacute;</a>
	</header>
	<div id="menu-blocker"></div>
  <nav id="menu">
    <a href="#" class="menu-close">Cerrar men&uacute;</a>
    <img src="~/images/menu-logo.png" class="logo" />
    <ul>
      <li><a href="~/">Home</a></li>
      <li><a href="~/Carga/CargarCodigo">Carg&aacute;<br />tu c&oacute;digo</a></li>
      <li><a href="~/Bases">Bases<br />y condiciones</a></li>
      <li><a href="~/Premios">Listado<br />de premios</a></li>
      <li><a href="~/FAQs">Preguntas<br />frecuentes</a></li>
      <li class="sel"><span>Contacto</span></li>
    </ul>
  </nav>
  <div class="elems elems-mobile">
    <img src="~/images/mano.png" class="elem1" />
  </div>
  <div class="elems elems-desktop">
    <img src="~/images/elem-16.gif" class="elem1" />
    <img src="~/images/elem-16-anim.gif" class="elem1_ojos" />
    <img src="~/images/elem-09.gif" class="elem2" />
    <img src="~/images/elem-07.gif" class="elem3" />
    <img src="~/images/mano.png" class="elem4" />
  </div>
  <main>
    <h2>Contacto</h2>
    <div class="textos">
      <p>Si tenés alguna duda, comunicate al Servicio de Atención al Consumidor haciendo <a href="https://www.arcor.com/ar/contacto-productos" target="_blank">click acá</a> o llamando al <a href="tel:+08003333033" class="tel">0800-333-3033</a></p>
      <img src="~/images/elem-14.gif" />
    </div>
  </main>
</body>
</html>