@model PromoDH.Models.Ganador
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{ ViewData["Title"] = "CargarCodigo"; }
@inject IOptions<RecaptchaSettings> RecaptchaSettings;
@using reCAPTCHA.AspNetCore
@using reCAPTCHA.AspNetCore.Versions;
@using Microsoft.Extensions.Options
<!doctype html>
<html lang="es" class="scroller">
<head>
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="expires" content="Fri, 18 Jul 2014 1:00:00 GMT" />
<meta charset="UTF-8">
<title>Bienvenidos a la promo TOPLINE LOLLAPALOOZA!</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta name="description" content="Bienvenidos al sitio de la promoción TOPLINE LOLLAPALOOZA"> 
<meta name="keywords" content="Promo Topline Lolla, Lollapalooza, Entradas Lollapalooza, Chicles Topline, Topline Menta, Topline Defense, Topline Strong, Topline Fruta y Sandía, Topline Seven, Topline Xplosive Mint, Topline Atomic Bombs, Topline Blowing Mandarine, Topline Vibrant Strawberry, Topline Sandiamania, Topline Violet Cherry, Topline Freezing Menthol, Topline Bubble Fun, Topline Seven Ultra Green Mint, Topline Red Berry, Topline Clean Mint, Topline Seven Turbo Mint, Chicles Topline, festival, fiesta, música, amigos, recital, Lollapalooza 2023, Lollapalooza Argentina 2023, Day Pass General Lollapalooza, Day Pass VIP, lola, Loolapalooza, Hipódromo de San Isidro">
<meta name="robots" content="index, nofollow"> 
<meta name="Publisher-Email" content="arcor@arcor.com.ar"> 
<meta name="author" content="PROMO TOPLINE LOLLAPALOOZA | www.promotopline.com.ar" /> 
<meta name="copyright" content="® Copyright Arcor 2023" /> 
<link rel="canonical" href="www.promotopline.com.ar" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126639183-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-126639183-1');
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C7CPB8XFYH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-C7CPB8XFYH');
</script>
<!-- Google Tag Manager -->
<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WXG4Q9L');
</script>
<!-- End Google Tag Manager -->

<meta property="og:site_name" content="Promo Topline"/>
<meta property="og:url" content="https://promotopline.com.ar/"/>
<meta property="og:url" content="https://www.promotopline.com.ar/"/>
<meta property="og:title" content="PROMO TOPLINE LOLLAPALOOZA 2023"/>
<meta property="og:description" content="Bienvenidos al sitio de la promoción TOPLINE LOLLAPALOOZA"/>
<meta property="og:image" content="https://promotopline.com.ar/images/web-2023.jpg"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="website"/>
<meta name="twitter:title" content="PROMO TOPLINE LOLLAPALOOZA 2023"/>
<meta name="twitter:description" content="Bienvenidos al sitio de la promoción TOPLINE LOLLAPALOOZA"/>
<meta name="twitter:image:src" content="https://promotopline.com.ar/images/web-2023.jpg"/>
<meta name="twitter:image:alt" content="PROMO TOPLINE LOLLAPALOOZA 2023"/>
<meta name="twitter:image" content="https://promotopline.com.ar/images/web-2023.jpg"/>
<meta name="twitter:domain" content="promotopline.com.ar"/>
<meta name="twitter:card" content="summary"/>

<link href="~/css/estilos.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<script type="text/javascript" src="~/scripts/html5shiv.min.js"></script>
<script type="text/javascript" src="~/scripts/respond.min.js"></script>
<![endif] -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.plugins.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.js"></script>
</head>
<body id="int" class="cardatos scroll">
   <form asp-action="CargarGanador" autocomplete="off">
		<header>
    	<h1><a href="~/">Promo "TopLine Lollapalooza 2023"</a></h1>
    	<a href="javascript;" class="menu-open">Men&uacute;</a>
  	</header>
		<div id="menu-blocker"></div>
		<nav id="menu">
			<a href="#" class="menu-close">Cerrar men&uacute;</a>
			<img src="~/images/menu-logo.png" class="logo" />
			<ul>
				<li><a href="~/">Home</a></li>
				<li class="sel">Carg&aacute;<br />tu c&oacute;digo</li>
				<li><a href="~/Bases">Bases<br />y condiciones</a></li>
				<li><a href="~/Premios">Premios<br />y ganadores</a></li>
				<li><a href="~/FAQs">Preguntas<br />frecuentes</a></li>
				<li><a href="~/Contacto">Contacto</a></li>
			</ul>
		</nav>
		<div class="elems elems-desktop">
			<img src="~/images/elem-16.gif" class="elem1" />
			<img src="~/images/elem-16-anim.gif" class="elem1_ojos" />
			<img src="~/images/elem-09.gif" class="elem2" />
			<img src="~/images/elem-07.gif" class="elem3" />
			<img src="~/images/mano.png" class="elem4" />
		</div>
		<main>
			<div class="header">
				<div class="img">
					<img src="~/images/elem-04.gif" />
				</div>
				<div class="titulo">
					<h2>Completá estos<br />datos para poder<br />contactarte</h2>
				</div>
    	</div>
			<input type="hidden" name="captcha" id="captchaInput" />
      <div class="form-box cols1">
      	<fieldset>
      		<div asp-validation-summary="None" class="text-danger"></div>
      		<ul>          
      			<li>
							<label asp-for="Direccion">Dirección *</label>
							<input asp-for="Direccion" autocomplete="nope" />
							<span asp-validation-for="Direccion" class="text-danger"></span>
						</li>
						<li>
							<label asp-for="Localidad">Ciudad *</label>
							<input asp-for="Localidad" autocomplete="nope" />
							<span asp-validation-for="Localidad" class="text-danger"></span>
						</li>
						@*
						<li>
							<label asp-for="CP">CP *</label>
							<input asp-for="CP" autocomplete="nope" />
							<span asp-validation-for="CP" class="text-danger"></span>
						</li>*@
						<li>
							<label asp-for="Telefono">Teléfono *</label>
							<input asp-for="Telefono" autocomplete="nope" />
							<span asp-validation-for="Telefono" class="text-danger"></span>
						</li>
						<li>
							<label for="men">Ingres&aacute; el captcha *</label>
							<!--'TODO: GENERAR CLAVES PARA LOS DISTINTOS DOMINIOS-->
							@(Html.Recaptcha(RecaptchaSettings?.Value, new RecaptchaV2Checkbox{ Language = "es" }))
						</li>
						<li class="btn">
							<input type="submit" value="Enviar" />
						</li>
					</ul>
				</fieldset>
			</div>
		</main>
  </form>

@if (ViewBag.Message != null) {
	<script type="text/javascript">
		alert('@Html.Raw(ViewBag.Message)');
	</script>
}
<script type="text/javascript">
	$(window).load(function () {
		$('form').get(0).reset(); //clear form data on page load
	});
</script>
</body>
</html>