@{ ViewData["Title"] = "Menú"; }
@{ Layout = "~/Views/Shared/_Manager.cshtml"; }
<!DOCTYPE html>
<html lang="es">
<head>
</head>
<body>
	<h3 class="seleccione">SELECCIONA UNA DE LAS OPCIONES</h3>
</body>
</html>
@if (ViewBag.Message != null) {
<script type="text/javascript">
  window.onload = function () {
    alert('@Html.Raw(ViewBag.Message)');
  };
</script>
}