@{
    ViewData["Title"] = "Menú";
}
@{
    Layout = "~/Views/Shared/_Manager.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manager</title>
</head>
<body>
    <h2>SELECCIONA UNA DE LAS OPCIONES</h2>
</body>
</html>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                    alert('@Html.Raw(ViewBag.Message)');
            };
    </script>
}