@model IEnumerable<PromoDH.Models.Registro>
@{ ViewData["Title"] = "Teaser"; }
<!doctype html>
<html lang="es" class="scroller">
<head>
<meta charset="UTF-8">
<title>Bienvenidos a la promo "TopLine Lollapalooza 2023"</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
<link href="~/css/estilos-teaser.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<script type="text/javascript" src="~/scripts/html5shiv.min.js"></script>
<script type="text/javascript" src="~/scripts/respond.min.js"></script>
<![endif] -->
</head>
<body>
<section>
  <div class="wrapper">
    <div class="content">
      <div class="logos">
        <img src="~/images/logo-topline.png" alt="TopLine" class="top">
        <img src="~/images/logo-lollapalooza.png" alt="Lollapalooza 2022" class="lol">
      </div>
      <h2>LA PROMOCIÓN TODAVÍA NO EMPEZÓ<br />¡GUARDÁ LOS PAQUETES!</h2>
      <h3><span>TE ESPERAMOS EL 16/01</span></h3>
    </div>
    <img src="images/elem1-anim.gif" class="elem elem1" />
    <img src="images/elem2-anim.gif" class="elem elem2" />
    <img src="images/elem3.gif" class="elem elem3" />
    <img src="~/images/mano.png" class="elem elem4" />
    <p>SIN OBLIGACIÓN DE COMPRA. VÁLIDA DEL 16/01/23 AL 14/02/23.<br />
      CONSULTE LA INFORMACIÓN EN LAS BASES Y CONDICIONES EN ESTE SITIO. INGRESANDO DATOS PERSONALES Y DATOS DEL PRODUCTO PARTICIPA POR PREMIOS OFRECIDOS. CONSERVE LOS ENVASES DE PRODUCTOS INGRESADOS.</p>
  </div>
</section>
</body>
</html>