@{ ViewData["Title"] = "Gano"; }
@{ Layout = null; }
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<script>
@{ var _premio_id = @HttpContextAccessor.HttpContext.Session.GetString("PREMIO_ID"); }
</script>
<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Bienvenidos a la promo "TopLine Lollapalooza 2023"</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
<link href="~/css/estilos.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<script type="text/javascript" src="~/scripts/html5shiv.min.js"></script>
<script type="text/javascript" src="~/scripts/respond.min.js"></script>
<![endif] -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.plugins.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.js"></script>
</head>
<body id="int" class="scroll">
  <header>
    <h1><a href="~/">Promo "TopLine Lollapalooza 2023"</a></h1>
    <a href="#" class="menu-open">Men&uacute;</a>
  </header>
	<div id="menu-blocker"></div>
  <nav id="menu">
    <a href="#" class="menu-close">Cerrar men&uacute;</a>
    <img src="~/images/menu-logo.png" class="logo" />
    <ul>
      <li><a href="~/">Home</a></li>
      <li><a href="~/Carga/CargarCodigo">Carg&aacute;<br />tu c&oacute;digo</a></li>
      <li><a href="~/Bases">Bases<br />y condiciones</a></li>
      <li><a href="~/Premios">Listado<br />de premios</a></li>
      <li><a href="~/FAQs">Preguntas<br />frecuentes</a></li>
      <li><a href="~/Contacto">Contacto</a></li>
    </ul>
  </nav>
  <div class="elems elems-desktop">
    <img src="~/images/elem-16.gif" class="elem1" />
    <img src="~/images/elem-16-anim.gif" class="elem1_ojos" />
    <img src="~/images/elem-09.gif" class="elem2" />
    <img src="~/images/elem-07.gif" class="elem3" />
    <img src="~/images/mano.png" class="elem4" />
  </div>
	@if (_premio_id == "1") {
		<main class="premios ganador pre1">
			<div class="txt">
				<h2>&iexcl;Felicitaciones!</h2>
				<h3>&iexcl;Sos el potencial<br />ganador de 1 entrada<br />para el 17/03/2023!</h3>
				<p>Si cumpl&iacute;s con los requisitos detallados en las bases legales, finalizada la promoci&oacute;n un representante de Atenci&oacute;n al Cliente se comunicar&aacute; con vos. Guard&aacute; el pack, te llamaremos.</p>
			</div>
			<div class="img">
				<img src="~/images/mano.png" class="elem1" />
				<img src="~/images/elem-02.gif" class="elem2" />
			</div>
		</main>
		<code>#<br />H<br />S<br />D<br />V<br />9<br />0<br />3<br />7</code>
	}
	else if (_premio_id == "2") {
		<main class="premios ganador pre2">
			<div class="txt">
				<h2>&iexcl;Felicitaciones!</h2>
				<h3>&iexcl;Sos el potencial<br />ganador de 1 entrada<br />para el 18/03/2023!</h3>
				<p>Si cumpl&iacute;s con los requisitos detallados en las bases legales, finalizada la promoci&oacute;n un representante de Atenci&oacute;n al Cliente se comunicar&aacute; con vos. Guard&aacute; el pack, te llamaremos.</p>
			</div>
			<div class="img">
				<img src="~/images/mano.png" class="elem1" />
				<img src="~/images/elem-15.gif" class="elem2" />
			</div>
		</main>
		<code>#<br />J<br />E<br />N<br />W<br />0<br />2<br />3<br />5</code>
	}
	else if (_premio_id == "3") {
		<main class="premios ganador pre3">
			<div class="txt">
				<h2>&iexcl;Felicitaciones!</h2>
				<h3>&iexcl;Sos el potencial<br />ganador de 1 entrada<br />para el 19/03/2023!</h3>
				<p>Si cumpl&iacute;s con los requisitos detallados en las bases legales, finalizada la promoci&oacute;n un representante de Atenci&oacute;n al Cliente se comunicar&aacute; con vos. Guard&aacute; el pack, te llamaremos.</p>
			</div>
			<div class="img">
				<img src="~/images/mano.png" class="elem1" />
				<img src="~/images/elem-09.gif" class="elem2" />
			</div>
		</main>
		<code>#<br />S<br />M<br />V<br />E<br />2<br />3<br />9<br />2</code>
	}
	else if (_premio_id == "4") {
		<main class="premios ganador pre4">
			<div class="txt">
				<h2>&iexcl;Felicitaciones!</h2>
				<h3>&iexcl;Sos el potencial<br />ganador de 1 entrada VIP<br />para el 17/03/2023!</h3>
				<p>Si cumpl&iacute;s con los requisitos detallados en las bases legales, finalizada la promoci&oacute;n un representante de Atenci&oacute;n al Cliente se comunicar&aacute; con vos. Guard&aacute; el pack, te llamaremos.</p>
			</div>
			<div class="img">
				<img src="~/images/mano.png" class="elem1" />
				<img src="~/images/elem-02.gif" class="elem2" />
			</div>
		</main>
		<code>#<br />P<br />R<br />S<br />C<br />4<br />1<br />0<br />6</code>
	}
	else if (_premio_id == "5") {
		<main class="premios ganador pre5">
			<div class="txt">
				<h2>&iexcl;Felicitaciones!</h2>
				<h3>&iexcl;Sos el potencial<br />ganador de 1 entrada VIP<br />para el 18/03/2023!</h3>
				<p>Si cumpl&iacute;s con los requisitos detallados en las bases legales, finalizada la promoci&oacute;n un representante de Atenci&oacute;n al Cliente se comunicar&aacute; con vos. Guard&aacute; el pack, te llamaremos.</p>
			</div>
			<div class="img">
				<img src="~/images/mano.png" class="elem1" />
				<img src="~/images/elem-09.gif" class="elem2" />
			</div>
		</main>
		<code>#<br />J<br />I<br />A<br />R<br />0<br />4<br />1<br />8</code>
	}
	else if (_premio_id == "6") {
		<main class="premios ganador pre6">
			<div class="txt">
				<h2>&iexcl;Felicitaciones!</h2>
				<h3>&iexcl;Sos el potencial<br />ganador de 1 entrada VIP<br />para el 19/03/2023!</h3>
				<p>Si cumpl&iacute;s con los requisitos detallados en las bases legales, finalizada la promoci&oacute;n un representante de Atenci&oacute;n al Cliente se comunicar&aacute; con vos. Guard&aacute; el pack, te llamaremos.</p>
			</div>
			<div class="img">
				<img src="~/images/mano.png" class="elem1" />
				<img src="~/images/elem-15.gif" class="elem2" />
			</div>
		</main>
		<code>#<br />S<br />O<br />R<br />P<br />7<br />8<br />9<br />2</code>
	}
</body>
</html>