@model PromoDH.Models.PreguntaPromo
@{ Layout = null; }
<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Bienvenidos a la promo TOPLINE LOLLAPALOOZA!</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta name="description" content="Bienvenidos al sitio de la promoción TOPLINE LOLLAPALOOZA"> 
<meta name="keywords" content="Promo Topline Lolla, Lollapalooza, Entradas Lollapalooza, Chicles Topline, Topline Menta, Topline Defense, Topline Strong, Topline Fruta y Sandía, Topline Seven, Topline Xplosive Mint, Topline Atomic Bombs, Topline Blowing Mandarine, Topline Vibrant Strawberry, Topline Sandiamania, Topline Violet Cherry, Topline Freezing Menthol, Topline Bubble Fun, Topline Seven Ultra Green Mint, Topline Red Berry, Topline Clean Mint, Topline Seven Turbo Mint, Chicles Topline, festival, fiesta, música, amigos, recital, Lollapalooza 2023, Lollapalooza Argentina 2023, Day Pass General Lollapalooza, Day Pass VIP, lola, Loolapalooza, Hipódromo de San Isidro">
<meta name="robots" content="index, nofollow"> 
<meta name="Publisher-Email" content="arcor@arcor.com.ar"> 
<meta name="author" content="PROMO TOPLINE LOLLAPALOOZA | www.promotopline.com.ar" /> 
<meta name="copyright" content="® Copyright Arcor 2023" /> 
<link rel="canonical" href="www.promotopline.com.ar" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126639183-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-126639183-1');
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C7CPB8XFYH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-C7CPB8XFYH');
</script>
<!-- Google Tag Manager -->
<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WXG4Q9L');
</script>
<!-- End Google Tag Manager -->

<meta property="og:site_name" content="Promo Topline"/>
<meta property="og:url" content="https://promotopline.com.ar/"/>
<meta property="og:url" content="https://www.promotopline.com.ar/"/>
<meta property="og:title" content="PROMO TOPLINE LOLLAPALOOZA 2023"/>
<meta property="og:description" content="Bienvenidos al sitio de la promoción TOPLINE LOLLAPALOOZA"/>
<meta property="og:image" content="https://promotopline.com.ar/images/web-2023.jpg"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="website"/>
<meta name="twitter:title" content="PROMO TOPLINE LOLLAPALOOZA 2023"/>
<meta name="twitter:description" content="Bienvenidos al sitio de la promoción TOPLINE LOLLAPALOOZA"/>
<meta name="twitter:image:src" content="https://promotopline.com.ar/images/web-2023.jpg"/>
<meta name="twitter:image:alt" content="PROMO TOPLINE LOLLAPALOOZA 2023"/>
<meta name="twitter:image" content="https://promotopline.com.ar/images/web-2023.jpg"/>
<meta name="twitter:domain" content="promotopline.com.ar"/>
<meta name="twitter:card" content="summary"/>

<link href="~/css/estilos.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<script type="text/javascript" src="~/scripts/html5shiv.min.js"></script>
<script type="text/javascript" src="~/scripts/respond.min.js"></script>
<![endif] -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.plugins.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.js"></script>
</head>
<body id="int" class="pre">
	<header>
    <h1><a href="#">Promo "TopLine Lollapalooza 2023"</a></h1>
  </header>
	<form asp-action="PreguntaAzar">
		<div class="elems elems-desktop">
			<img src="~/images/elem-16.gif" class="elem1" />
			<img src="~/images/elem-16-anim.gif" class="elem1_ojos" />
			<img src="~/images/elem-09.gif" class="elem2" />
			<img src="~/images/elem-07.gif" class="elem3" />
			<img src="~/images/mano.png" class="elem4" />
  	</div>
		<main>
			<h2>Contest&aacute;<br />esta pregunta</h2>
			<fieldset class="pregunta">
				<input type="hidden" asp-for="id" />
        <input type="hidden" asp-for="pregunta" />
				<input type="hidden" asp-for="r1" />
				<input type="hidden" asp-for="r2" />
				<input type="hidden" asp-for="r3" />
				<input type="hidden" asp-for="rc" />
				<ul>
					<li class="preg">
						<p asp-for="pregunta">@Model.pregunta</p>
					</li>
					<li class="resp">
						<div class="resp-item">
							<label for="radRes1" asp-for="r1">@Model.r1
								<input id="radRes1" type="radio" value=1 name="rsel" />
								<span class="checkmark"></span>
							</label>
						</div>
						<div class="resp-item">
							<label for="radRes2" asp-for="r2">@Model.r2
								<input id="radRes2" type="radio" value=2 name="rsel" />
								<span class="checkmark"></span>
							</label>
						</div>
						<div class="resp-item">
							<label for="radRes3" asp-for="r3">@Model.r3
								<input id="radRes3" type="radio" value=3 name="rsel" />
								<span class="checkmark"></span>
							</label>
						</div>
					</li>
					<li class="btn">
						<input type="submit" value="Enviar" />
					</li>
				</ul>
			</fieldset>
		</main>
	</form>
</body>
</html>