@model PromoDH.Models.PreguntaPromo
@{ Layout = null; }
<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Bienvenidos a la promo "TopLine Lollapalooza 2023"</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
<link href="~/css/estilos.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<script type="text/javascript" src="~/scripts/html5shiv.min.js"></script>
<script type="text/javascript" src="~/scripts/respond.min.js"></script>
<![endif] -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.plugins.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.js"></script>
</head>
<body id="int" class="pre">
	<header>
    <h1><a href="#">Promo "TopLine Lollapalooza 2023"</a></h1>
  </header>
	<form asp-action="PreguntaAzar">
		<div class="elems elems-desktop">
			<img src="~/images/elem-16.gif" class="elem1" />
			<img src="~/images/elem-16-anim.gif" class="elem1_ojos" />
			<img src="~/images/elem-09.gif" class="elem2" />
			<img src="~/images/elem-07.gif" class="elem3" />
			<img src="~/images/mano.png" class="elem4" />
  	</div>
		<main>
			<h2>Contest&aacute;<br />esta pregunta</h2>
			<fieldset class="pregunta">
				<input type="hidden" asp-for="id" />
        <input type="hidden" asp-for="pregunta" />
				<input type="hidden" asp-for="r1" />
				<input type="hidden" asp-for="r2" />
				<input type="hidden" asp-for="r3" />
				<input type="hidden" asp-for="rc" />
				<ul>
					<li class="preg">
						<p asp-for="pregunta">@Model.pregunta</p>
					</li>
					<li class="resp">
						<div class="resp-item">
							<label for="radRes1" asp-for="r1">@Model.r1
								<input id="radRes1" type="radio" value=1 name="rsel" />
								<span class="checkmark"></span>
							</label>
						</div>
						<div class="resp-item">
							<label for="radRes2" asp-for="r2">@Model.r2
								<input id="radRes2" type="radio" value=2 name="rsel" />
								<span class="checkmark"></span>
							</label>
						</div>
						<div class="resp-item">
							<label for="radRes3" asp-for="r3">@Model.r3
								<input id="radRes3" type="radio" value=3 name="rsel" />
								<span class="checkmark"></span>
							</label>
						</div>
					</li>
					<li class="btn">
						<input type="submit" value="Enviar" />
					</li>
				</ul>
			</fieldset>
		</main>
	</form>
</body>
</html>