@{ Layout = null; }
<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Bienvenidos a la promo TOPLINE LOLLAPALOOZA!</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta name="description" content="Bienvenidos al sitio de la promoción TOPLINE LOLLAPALOOZA"> 
<meta name="keywords" content="Promo Topline Lolla, Lollapalooza, Entradas Lollapalooza, Chicles Topline, Topline Menta, Topline Defense, Topline Strong, Topline Fruta y Sandía, Topline Seven, Topline Xplosive Mint, Topline Atomic Bombs, Topline Blowing Mandarine, Topline Vibrant Strawberry, Topline Sandiamania, Topline Violet Cherry, Topline Freezing Menthol, Topline Bubble Fun, Topline Seven Ultra Green Mint, Topline Red Berry, Topline Clean Mint, Topline Seven Turbo Mint, Chicles Topline, festival, fiesta, música, amigos, recital, Lollapalooza 2023, Lollapalooza Argentina 2023, Day Pass General Lollapalooza, Day Pass VIP, lola, Loolapalooza, Hipódromo de San Isidro">
<meta name="robots" content="index, nofollow"> 
<meta name="Publisher-Email" content="arcor@arcor.com.ar"> 
<meta name="author" content="PROMO TOPLINE LOLLAPALOOZA | www.promotopline.com.ar" /> 
<meta name="copyright" content="® Copyright Arcor 2023" /> 
<link rel="canonical" href="www.promotopline.com.ar" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126639183-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-126639183-1');
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C7CPB8XFYH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-C7CPB8XFYH');
</script>
<!-- Google Tag Manager -->
<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WXG4Q9L');
</script>
<!-- End Google Tag Manager -->

<meta property="og:site_name" content="Promo Topline"/>
<meta property="og:url" content="https://promotopline.com.ar/"/>
<meta property="og:url" content="https://www.promotopline.com.ar/"/>
<meta property="og:title" content="PROMO TOPLINE LOLLAPALOOZA 2023"/>
<meta property="og:description" content="Bienvenidos al sitio de la promoción TOPLINE LOLLAPALOOZA"/>
<meta property="og:image" content="https://promotopline.com.ar/images/web-2023.jpg"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="website"/>
<meta name="twitter:title" content="PROMO TOPLINE LOLLAPALOOZA 2023"/>
<meta name="twitter:description" content="Bienvenidos al sitio de la promoción TOPLINE LOLLAPALOOZA"/>
<meta name="twitter:image:src" content="https://promotopline.com.ar/images/web-2023.jpg"/>
<meta name="twitter:image:alt" content="PROMO TOPLINE LOLLAPALOOZA 2023"/>
<meta name="twitter:image" content="https://promotopline.com.ar/images/web-2023.jpg"/>
<meta name="twitter:domain" content="promotopline.com.ar"/>
<meta name="twitter:card" content="summary"/>

<link href="~/css/estilos.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<script type="text/javascript" src="~/scripts/html5shiv.min.js"></script>
<script type="text/javascript" src="~/scripts/respond.min.js"></script>
<![endif] -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.plugins.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.js"></script>
</head>
<body id="int" class="faq">
	<header>
    <h1><a href="~/">Promo "TopLine Lollapalooza 2023"</a></h1>
    <a href="javascript;" class="menu-open">Men&uacute;</a>
  </header>
	<div id="menu-blocker"></div>
  <nav id="menu">
    <a href="#" class="menu-close">Cerrar men&uacute;</a>
    <img src="~/images/menu-logo.png" class="logo" />
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="~/Carga/CargarCodigo">Carg&aacute;<br />tu c&oacute;digo</a></li>
      <li><a href="~/Bases">Bases<br />y condiciones</a></li>
      <li><a href="~/Premios">Premios<br />y ganadores</a></li>
      <li class="sel">Preguntas<br />frecuentes</li>
      <li><a href="~/Contacto">Contacto</a></li>
    </ul>
  </nav>
  <div class="elems elems-mobile">
    <img src="~/images/elem-03.gif" class="elem1 showFromLeft" />
    <img src="~/images/mano.png" class="elem2 showFromRight" />
  </div>
  <div class="elems elems-desktop">
    <img src="~/images/elem-16.gif" class="elem1" />
    <img src="~/images/elem-16-anim.gif" class="elem1_ojos" />
    <img src="~/images/elem-09.gif" class="elem2" />
    <img src="~/images/elem-07.gif" class="elem3" />
    <img src="~/images/mano.png" class="elem4" />
  </div>
  <main>
    <h2>Preguntas Frecuentes</h2>
    <div class="textos">
      <div class="nano">
        <div class="nano-content">
          <p><strong><span>1.	¿Que comprende la promoción “Topline Lollapalooza”?</span></strong><br />
            Desde el 16 de enero de 2023 y hasta el 14 de Febrero de 2023, podes participar por premios diarios y semanales, cargando en la web el código que viene en lo packs de los chicles Topline Regular, Topline Seven, Topline Seven Ultra y Topline Seven Turbo 50g (DD/MM/AAAA) y completando tus datos personales. Si cuando cargas los datos hay algún premio diario disponible, te aparecerá una pregunta para responder multiple choice sobre el festival o el producto. Deberás elegir y enviar la respuesta correcta.</p>
          <p><strong><span>2.	¿Qué productos participan?</span></strong><br />
            Participan los chicles Topline Regular (sabores Menta, Defense, Strong, Fruta y Sandía); Topline Seven (sabores Xplosive Mint, Atomic Bombs, Blowing Mandarine, Vibrant Strawberry, Sandiamania, Violet Cherry, Freezing Menthol y Bubble Fun); Topline Seven Ultra (sabores Green Mint, Red Berry y Clean Mint; y los chicles Topline Seven Turbo Mint, presentación pote de 50g.</p>
          <p><strong><span>3.	¿Cuáles son los premios de la promo?</span></strong><br />
            Premios diarios (Day Pass General) y premios semanales (Day Pass VIP) para el festival Lollapalooza. Recordá que el acceso al sector VIP es para mayores de 10 años; sin embargo, niños con menos de 10 años de edad pueden ingresar en forma gratuita al festival acompañados de un mayor de 18 años con entrada general.<br />
            Para obtener mayor información sobre el pase VIP, podes ingresar a https://www.lollapaloozaar.com/</p>
          <p><strong><span>4.	¿Cuántas entradas y cuántos pases VIP en total hay en juego?</span></strong><br />
            Hay 90 entradas Day Pass General: 30 para DÍA 1, 30 para DÍA 2, 30 para DÍA 3; y 4 entradas Day Pass VIP: 1 para DÍA 1, 1 para DÍA 2 y 2 para DÍA 3.</p>
          <p><strong><span>5.	¿Cuándo y dónde se realiza el festival de Lollapalooza?</span></strong><br />
            El festival de Lollapalooza se realiza en el Hipódromo de San Isidro en Provincia de Buenos Aires, durante el 17, 18 y 19 de marzo de 2023.</p>
          <p><strong><span>6.	Si soy menor de 16 años, ¿puedo participar de la promoción?</span></strong><br />
            Sí, podes participar de la promoción Topline Lollapalooza. Si te salió un premio, para retirarlo deberás estar acompañado de uno de tus padres/tutor con la documentación correspondiente.</p>
          <p><strong><span>7.	¿Las entradas y pases VIP incluyen traslado a Bs.As y al festival?</span></strong><br />
            No, los premios no incluyen traslados, ni ningún otro tipo de gastos para su uso o retirarlos.</p>
          <p><strong><span>8.	¿Puedo participar por más de un premio?</span></strong><br />
            Si ya tenes un premio diario (Day Pass General) o semanal (Day Pass VIP), no podes participar por otro igual. </p>
          <p><strong><span>9.	Las entradas, ¿para qué día del festival de Lollapalooza son? ¿Puedo elegir qué día quiero ir?</span></strong><br />
            Los días de las entradas son dispuestos por el sistema en forma aleatoria y automática, por lo que no se podrá cambiar el día del festival que se haya asignado.</p>
          <p><strong><span>10.	Me salió mensaje que gané un premio diario, ¿cómo hago para recibirlo?</span></strong><br />
            Si hay un premio para vos, el Servicio de Atención al Cliente se comunicará para verificar tus datos e indicarte cómo y cuándo podrás retirarlo.</p>
        </div>
      </div>
    </div>
  </main>
</body>
</html>