@{ Layout = null; }
<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Bienvenidos a la promo TOPLINE LOLLAPALOOZA!</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta name="description" content="Bienvenidos al sitio de la promoción TOPLINE LOLLAPALOOZA"> 
<meta name="keywords" content="Promo Topline Lolla, Lollapalooza, Entradas Lollapalooza, Chicles Topline, Topline Menta, Topline Defense, Topline Strong, Topline Fruta y Sandía, Topline Seven, Topline Xplosive Mint, Topline Atomic Bombs, Topline Blowing Mandarine, Topline Vibrant Strawberry, Topline Sandiamania, Topline Violet Cherry, Topline Freezing Menthol, Topline Bubble Fun, Topline Seven Ultra Green Mint, Topline Red Berry, Topline Clean Mint, Topline Seven Turbo Mint, Chicles Topline, festival, fiesta, música, amigos, recital, Lollapalooza 2023, Lollapalooza Argentina 2023, Day Pass General Lollapalooza, Day Pass VIP, lola, Loolapalooza, Hipódromo de San Isidro">
<meta name="robots" content="index, nofollow"> 
<meta name="Publisher-Email" content="arcor@arcor.com.ar"> 
<meta name="author" content="PROMO TOPLINE LOLLAPALOOZA | www.promotopline.com.ar" /> 
<meta name="copyright" content="® Copyright Arcor 2023" /> 
<link rel="canonical" href="www.promotopline.com.ar" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126639183-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-126639183-1');
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C7CPB8XFYH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-C7CPB8XFYH');
</script>
<!-- Google Tag Manager -->
<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WXG4Q9L');
</script>
<!-- End Google Tag Manager -->

<meta property="og:site_name" content="Promo Topline"/>
<meta property="og:url" content="https://promotopline.com.ar/"/>
<meta property="og:url" content="https://www.promotopline.com.ar/"/>
<meta property="og:title" content="PROMO TOPLINE LOLLAPALOOZA 2023"/>
<meta property="og:description" content="Bienvenidos al sitio de la promoción TOPLINE LOLLAPALOOZA"/>
<meta property="og:image" content="https://promotopline.com.ar/images/web-2023.jpg"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="website"/>
<meta name="twitter:title" content="PROMO TOPLINE LOLLAPALOOZA 2023"/>
<meta name="twitter:description" content="Bienvenidos al sitio de la promoción TOPLINE LOLLAPALOOZA"/>
<meta name="twitter:image:src" content="https://promotopline.com.ar/images/web-2023.jpg"/>
<meta name="twitter:image:alt" content="PROMO TOPLINE LOLLAPALOOZA 2023"/>
<meta name="twitter:image" content="https://promotopline.com.ar/images/web-2023.jpg"/>
<meta name="twitter:domain" content="promotopline.com.ar"/>
<meta name="twitter:card" content="summary"/>

<link href="~/css/estilos.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<script type="text/javascript" src="~/scripts/html5shiv.min.js"></script>
<script type="text/javascript" src="~/scripts/respond.min.js"></script>
<![endif] -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.plugins.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.js"></script>
</head>
<body id="int" class="bas">
	<header>
    <h1><a href="~/">Promo "TopLine Lollapalooza 2023"</a></h1>
    <a href="javascript;" class="menu-open">Men&uacute;</a>
  </header>
	<div id="menu-blocker"></div>
  <nav id="menu">
    <a href="#" class="menu-close">Cerrar men&uacute;</a>
    <img src="~/images/menu-logo.png" class="logo" />
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="~/Carga/CargarCodigo">Carg&aacute;<br />tu c&oacute;digo</a></li>
      <li class="sel">Bases<br />y condiciones</li>
      <li><a href="~/Premios">Premios<br />y ganadores</a></li>
      <li><a href="~/FAQs">Preguntas<br />frecuentes</a></li>
      <li><a href="~/Contacto">Contacto</a></li>
    </ul>
  </nav>
  <div class="elems elems-mobile">
    <img src="~/images/mano.png" class="elem1" />
    <img src="~/images/elem-13.gif" class="elem2" />
  </div>
  <div class="elems elems-desktop">
    <img src="~/images/elem-16.gif" class="elem1" />
    <img src="~/images/elem-16-anim.gif" class="elem1_ojos" />
    <img src="~/images/elem-09.gif" class="elem2" />
    <img src="~/images/elem-07.gif" class="elem3" />
    <img src="~/images/mano.png" class="elem4" />
  </div>
  <main>
    <span class="h2"><h2>Bases y Condiciones</h2></span>
    <div class="textos">
      <div class="nano">
        <div class="nano-content">
          <p>1.- La participación en la promoción “TOPLINE TE LLEVA A LOLLAPALOOZA ARGENTINA”, en adelante “La Promoción” organizada por ARCOR SAIC, con domicilio en Av. Fulvio Pagani 487, Arroyito, Provincia de Córdoba, Argentina, en adelante “El Organizador”, implica el total conocimiento y aceptación de las bases de la misma, como así también los procedimientos o sistemas establecidos por el Organizador.</p>
          <p>2.- La presente promoción tendrá vigencia y validez en el territorio de la República Argentina excepto las provincias de Jujuy, Neuquén y Tierra del Fuego, desde el día 16/01/23 a las 12:00 hs. hasta el 14/02/23 a las 18:00 hs., podrán participar personas físicas que residan en el territorio de validez de la promoción. </p>
          <p>3.- <u>Productos Participantes</u>: Participan los siguientes productos: chicles Topline Regular sabores Menta, Defense, Strong, Fruta y Sandía, presentación 6,7g pack de 4 chicles; chicles Topline Seven sabores Xplosive Mint, Atomic Bombs, Blowing Mandarine, Vibrant Strawberry, Sandiamania, Violet Cherry, Freezing Menthol y Bubble Fun, presentación 14g pack de 7 chicles; chicles Topline Seven Ultra sabores Green Mint, Red Berry y Clean Mint, presentación 24g pack de 12 chicles; y chicles Topline Seven Turbo Mint, presentación pote de 50g, en adelante “Producto Participante”.</p>
          <p>4.- <u>Detalles, mecánica y asignación de premios de la promoción</u>:<br /><br />
            a) Generalidad:<br />
            Podrán participar de la presente promoción, quienes ingresen a la página web www.promotopline.com.ar informen sus datos personales y los datos del producto o código con el que participan. Quienes así lo hagan se denominarán en adelante “Participantes”.<br /><br />
            b) Registro y participación:<br />
            Los Participantes deberán ingresar los siguientes datos personales: Nombre, Apellido, Número de Documento Nacional de Identidad, correo electrónico, fecha de nacimiento y provincia, luego deberá ingresar la fecha de vencimiento del Producto Participante. En forma conjunta los datos personales y datos del envase podrán ser denominados indistintamente código o datos de productos y datos personales.<br />
            Deberá conservarse el envase de los Productos Participantes que se hayan ingresado para participar.<br />
            ARCOR SAIC respeta y protege la privacidad de los usuarios. Los datos que los usuarios ingresen a los fines de su registración no serán revelados a terceros sin su consentimiento a menos que sean solicitados mediante un requerimiento judicial.<br />
            Conforme el Artículo 6 de la Ley 25.326 de Protección de Datos Personales el titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la Ley Nº 25.326 Podrán hacerlo comunicándose en forma gratuita al 0800-333-3033.<br />
            La AGENCIA DE ACCESO A LA INFORMACIÓN PÚBLICA, órgano de control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales.<br /><br />
            c) Pregunta: Si al momento de registrar la participación hubiera algún premio disponible, el Participante recibirá una pregunta con opción de respuesta múltiple relacionada al festival LollaPalooza Argentina o  los Productos Participantes. Éste deberá seleccionar y enviar la respuesta correcta de entre las tres opciones de respuesta ofrecidas para poder resultar acreedor del premio. De ingresar más de un Participante en el mismo momento, quien responda en forma correcta y más rápidamente resultará acreedor del premio diario, para ello deberá completar sus datos personales informando: dirección, Ciudad y teléfono.<br />
            Si la participación no resultara adjudicada con algún premio, si la respuesta fuera incorrecta, o si alguien respondiera correctamente más rápido, recibirá un mensaje informando tal circunstancia.<br />
            El Organizador no verificará la identidad de los Participantes, ni la veracidad, vigencia o autenticidad de los datos que los Participantes informen a los efectos de la participación, pero podrá verificar los datos informados por los acreedores de premio para acceder al mismo.<br /><br />
            d) Mecánica de premios<br />
            Todos los Participantes que ingresen los datos requeridos en función de los procedimientos señalados participarán por los premios. El Participante que haya resultado acreedor de un premio no podrá resultar acreedor de otro premio.
            - Inserción de premios, asignación y preguntas de conocimiento<br />
            En forma previa al inicio de la promoción, se realizará por ante escribano público: a) la determinación de horarios en que se asignarán los premios durante la vigencia de ésta; b) las preguntas de cultura general (con sus opciones de respuesta múltiple) y c) la respuesta correcta. Todo ello, a través de un acta que conservará el escribano en custodia hasta la finalización de la promoción.<br /><br />
            -Constatación del Sistema<br />
            Con posterioridad a la inserción de premios y en forma previa al inicio de la promoción se constatará por ante escribano público la entrega de la información relativa a la asignación de premios y base de preguntas con sus respuestas al proveedor del servicio de desarrollo y administración del sistema informático que se utilizará para la presente promoción -en adelante el Sistema-. Finalizada dicha gestión y también en forma previa al inicio de la vigencia de la promoción el escribano constatará que la información haya sido ingresada correctamente al Sistema mediante el uso de una clave informática especial que el proveedor le proporcionará al efecto y que le permitirá realizar esa verificación a través de Internet. En función de todo ello el escribano labrará la correspondiente acta de constatación.<br /><br />
            -Adjudicación definitiva<br />
            Finalizada la promoción, el escribano interviniente en presencia de personal del Organizador constatará que los datos de los Participantes potenciales acreedores de premios correspondan al modo establecido de asignación de premios certificado antes del inicio de la promoción. Se destaca que quienes resulten acreedores de premios serán considerados potenciales acreedores hasta tanto den cumplimiento a los requisitos establecidos en las presentes bases y condiciones (puntos 4b y 13).<br />
            Los Participantes que resulten potenciales acreedores de premio serán comunicados en la página web y contactados en base a los datos informados al momento de participación para validar los mismos y coordinar el retiro de los premios.</p>
          <p>5- <u>Premios que otorga la promoción</u><br /><br />
            <u>Premios:</u><br />
            ●	<strong>90 entradas “Day Pass General” (3 por día) en total para Festival Lollapalooza 2023</strong>, a llevarse a cabo los días 17, 18 y 19 de marzo de 2023 en el hipódromo de San Isidro, Provincia de Buenos Aires válido solamente para un día para una persona. No incluye otros gastos no contemplados. La fecha para la cual la entrada será válida será asignada en forma automática por el Organizador, sin que sea factible cambiar el premio asignado.<br />
            ●	<strong>4 entradas “Day Pass VIP” (1 por semana) en total para Festival Lollapalooza 2023</strong> a llevarse a cabo los días 17, 18 y 19 de marzo de 2023 en el hipódromo de San Isidro, Provincia de Buenos Aires válido solamente para un día para una persona. No incluye otros gastos no contemplados. La fecha para la cual la entrada será válida será asignada en forma automática por el Organizador, sin que sea factible cambiar el premio asignado.</p>
          <p>6- <u>Probabilidad matemática</u>: No corresponde determinar la probabilidad de acceder a algunos de los premios ya que los mismos se asignarán al primer Participante que responda correctamente una pregunta en el menor tiempo posible. No obstante, a modo de ejemplo: la probabilidad de ganar alguno de los premios “Day Pass General” en un día durante el plazo de vigencia -en caso de que participen 1000 personas en un día- es de 0,003% y la probabilidad de ganar alguno de los premios “Day Pass Vip” en una semana, durante el plazo de vigencia -en caso de que participen 1000 personas en una semana- es de 0,004%.</p>
          <p>7- Los premios son personales e intransferibles, no serán canjeables por dinero en efectivo, cualquier reclamo respecto a la calidad de estos deberá dirigirse a su prestador. En caso de cancelaciones o suspensión del evento deberá seguir las instrucciones del realizador del Festival.  La empresa encargada de la realización del Festival Lollapalooza 2023, será considerada frente al Organizador como tercero por el cual éste no se encuentra obligado a responder, siéndole imputable a aquella, única y exclusivamente toda la responsabilidad emergente del incumplimiento a las obligaciones a su cargo y/o de cualquier daño y perjuicio que ellos pudieren ocasionar a los Participantes beneficiarios en ocasión de utilización de estos. El realizador del Festival será el único responsable de la calidad y contingencia del mismo, por ello la responsabilidad ARCOR SAIC se limitará a la entrega de la entrada correspondiente a los ganadores. Se destaca que los niños hasta 10 años de edad (inclusive) podrán ingresar al predio de forma gratuita y deberán asistir acompañados de un mayor de edad con su respectivo ticket válido; el acceso a los servicios VIP estará permitido sólo a mayores de 10 años.</p>
          <p>8- El Organizador no será responsable de ningún daño o pérdida ocasionada a los Participantes, o a terceros, en sus personas y/o bienes, debido a o en ocasión de la utilización de los premios que en esta promoción se ofrecen. Todo impuesto que deba tributarse en forma directa o indirecta sobre el premio estará a cargo del Participante ganador, así como los gastos para retirar o utilizar los premios, o servicios que se contraten dentro del predio del Festival, los cuales serán a su exclusivo cargo.</p>
          <p>9- <u>Participación sin obligación de compra</u>. Quienes deseen participar por este medio deberán contactarse al 0800-333-3033 de lunes a viernes de 8 a 20hs, indicando sus datos personales y solicitando un código para participar, el cual reemplazará los datos requeridos del producto Participante. Se asignará un código por semana por persona durante la vigencia de la promoción.</p>
          <p>10- Tendrán derecho al premio únicamente aquellos Participantes que cumplan con todas las condiciones establecidas en la presente promoción. El Organizador se reserva el derecho de descalificar automáticamente a cualquier Participante que participe siguiendo un procedimiento distinto y/o empleando herramientas de cualquier índole que permitan alterar, modificar, o adulterar los sistemas de participación; así como suplantar la identidad de otra persona.  El Organizador también descalificará a aquellos Participantes que en el marco de la presente promoción hayan informado datos personales falsos, inexactos o violen las presentes bases y condiciones a través de medios y/o formas que no hayan podido ser razonablemente contempladas en las mismas.<br />
          Todo Participante que procediere mediante las formas o modalidades detalladas en el párrafo anterior no solo será eliminado y descalificado, sino que también perderá el derecho a todo premio que le hubiere correspondido en el marco de la presente promoción.</p>
          <p>11- El Organizador no será en ningún caso responsable por fallas en los equipos de comunicación, de suministro de energía, de líneas telefónicas, ni por desperfectos técnicos, errores humanos o acciones deliberadas de terceros que pudieran perturbar, suspender o interrumpir el normal desarrollo de la promoción.</p>
          <p>12- No podrán participar en esta promoción el personal de ARCOR SAIC, ni personal de las empresas vinculadas con la organización, promoción, publicidad, o servicios informáticos, así como tampoco sus familiares directos hasta el segundo grado de consanguinidad, así como ex empleados hasta los 2 años de su desvinculación.</p>
          <p>13- La entrega de los premios que se ofrecen en la presente promoción será realizada por el Organizador dentro de los 30 días corridos de la fecha de finalización de la promoción y antes del Festival, en los días y horarios que oportunamente se indicarán, luego de verificar los datos informados por el Participante en su registro en la página web.<br />
          Todos los Participantes acreedores de premios deberán exhibir documento de Identidad, y, en caso de corresponder, hacer entrega del envase original del producto con el código utilizado, y suscribir el correspondiente recibo. Los Participantes que no cumplieren con lo establecido en este párrafo perderán todo derecho a premio, el cual será considerado no asignado y quedará en poder del Organizador quienes podrán disponer del mismo en la forma que estimen conveniente.<br />
          Los premios son personales, no podrán ser retirados más que por el propio beneficiario. La entrega de todos los premios se realizará en Ingeniero Guillermo White 4546, Munro, Vicente López. El Organizador informará el día y hora de entrega de premios. Cuando los acreedores de premio sean menores de edad, en el momento de la entrega, deberán estar acompañados de uno de sus padres/encargado/tutor que puedan acreditar fehacientemente dicha condición con la documentación correspondiente.</p>
          <p>14- Los Participantes ganadores autorizan expresamente al Organizador a difundir sus nombres e imágenes y la de sus familiares con fines publicitarios, en los medios y formas que este considere conveniente sin derecho a compensación alguna, en el caso de menores de edad, se entiende que la autorización de sus padres para participar comprende este punto y que conocen y aceptan estas bases y condiciones.</p>
          <p>15- Cuando circunstancias no imputables al Organizador y no previstas en estas bases o que constituyan caso fortuito o fuerza mayor lo justifiquen, El Organizador podrá cancelar o modificar la promoción, efectuando los cambios operativos necesarios que no impliquen alterar la esencia de la misma y los premios ofrecidos, previa aprobación del organismo de control y comunicación por los medios utilizados originariamente con 5 días de anticipación.</p>
          <p>16- Toda divergencia que pudiera surgir relacionada con la interpretación de estas bases así como derivada de la ejecución de esta Promoción, será resuelta por las partes por ante los Tribunales Ordinarios en lo Comercial de la Ciudad de Córdoba, Provincia de Córdoba, renunciando a cualquier otro fuero o jurisdicción que les pudiera corresponder.</p>
          <p>17- Las presentes bases y condiciones pueden ser consultadas en www.promotopline.com.ar o al 0800-333-3033</p>
        </div>
      </div>
    </div>
  </main>
</body>
</html>